<!doctype html>
<html>
    <head>
        <title> HIIT Rate Calculator </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="jumbotron" >
            <h1 class="display-4" > HIIT Heart Rate Calculator </h1>
            <p class="lead" > A very simple app to determine your target rates for HIIT training. </p>
        </div>
        {% block content %}
        Base content
        {% endblock %}
    </body>
</html>
